<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Create new product </title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Mật danh</label>
      <input type="text" name="name" value="{{service.name}}">

      <br>

      <label for="">Bạn muốn cày thuê cho game gì</label>
      <select class="game" name="game">
        {% if service.game == "LOL"%}
        <option value="LOL" selected>LOL(leauge of legend)</option>
        <option value="CSGO">CSGO (counterstrike)</option>
        <option value="DOTA">DOTA 2</option>
        {% elif service.game == "CSGO" %}
        <option value="LOL">LOL(leauge of legend)</option>
        <option value="CSGO" selected>CSGO (counterstrike)</option>
        <option value="DOTA">DOTA 2</option>
        {% else %}
        <option value="LOL">LOL(leauge of legend)</option>
        <option value="CSGO">CSGO (counterstrike)</option>
        <option value="DOTA" selected>DOTA 2</option>
        {% endif %}
      </select>


      <br>

      <label for="">Giá cho 1 rank</label>
     <select class="price" name="price">
       {% if service.price == "100000"%}
       <option value="100000" selected>100.000đ</option>
       <option value="200000">200.000đ</option>
       <option value="300000">300.000đ</option>
       {% elif service.price == "200000"%}
       <option value="100000">100.000đ</option>
       <option value="200000" selected>200.000đ</option>
       <option value="300000">300.000đ</option>
       {% else %}
       <option value="100000">100.000đ</option>
       <option value="200000">200.000đ</option>
       <option value="300000" selected>300.000đ</option>
       {% endif%}

     </select>

     <br>

     <label for="">Tự giới thiệu về bản thân</label>
     <input type="text" name="des" value="{{ service.des }}">

     <br>

     <input type="submit" name="" value="Sửa">
    </form>

  </body>
</html>
