<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cho thuê nick</title>
  </head>
  <body>
    <h1>Trang chủ</h1>
    <a href="{{url_for('search', game = "CSGO")}}"><h1>CSGO</h1>, <img src="../static/images/csgo.jpg" alt=""></a><br>
    <img src="../static/images/csgorank.jpg" alt="">
    <a href="{{url_for('search', game = "LOL")}}"><h1>LOL</h1>, <img src="../static/images/lol.jpg" alt=""></a><br>
    <img src="../static/images/lolrank.jpg" alt="">
    <a href="{{url_for('search', game = "DOTA")}}"><h1>DOTA</h1>,<img src="../static/images/dota.jpg" alt=""></a><br>
    <img src="../static/images/dotarank.jpg" alt="">
  </body>
</html>
