<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-joti-one font-30" href="#">Come to us</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

<div class="collapse navbar-collapse d-flex flex-row-reverse mr-5" id="navbarNav">
        <div class="float-right">
              <button type="nav-item button" class="btn btn-primary">Booster</button>
              <button type="nav-item button" class="btn btn-secondary ml-4">Need boost</button>
        </div>
</div>
</nav>
