<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cho thuê nick</title>
  </head>
  <body>
    <h1>Trang chủ</h1>
    <a href="{{url_for('search', game = "CSGO")}}"><h1>CSGO</h1>, <img src="https://www.dexerto.com/app/uploads/2017/09/CSGO-valve-626x314.jpg" alt=""></a><br>
    <a href="{{url_for('search', game = "LOL")}}"><h1>LOL</h1>, <img src="https://na.leagueoflegends.com/sites/default/files/styles/wide_small/public/upload/lol_promoart_10_0.jpg?itok=VdP5sheQ" alt=""></a><br>
    <a href="{{url_for('search', game = "DOTA")}}"><h1>DOTA</h1>,<img src="https://pbs.twimg.com/profile_images/808475349671493632/nvi7WJf4_400x400.jpg" alt=""></a><br>
  </body>
</html>
